{% extends 'layouts/main.twig' %}
{% block title %}
    корзина
{% endblock %}
{% block header %}
    {% if user %}
        заказ пользователя {{ user.name }}
    {% else %}
        корзина
    {% endif %}
{% endblock %}
{% block content %}

    {% if is_auth %}
        {% if user_id == id_of_users_order or user_is_admin %}
            <h1>Товары в корзине</h1>
            <br>

            <div style="display: flex; flex-wrap: wrap; width: 900px;">
                {% for item in goods_in_basket %}
                    <div style="display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding: 7px;
                        align-items: center;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        height: 340px;
                        width: 260px;
                        border-radius: 12px;
                        border: 2px solid palegoldenrod;
            ">
                        {% if item.img %}
                            <img src="/img/{{ item.img }}" alt="img" style="width: 200px; margin-bottom: 20px;">
                        {% else %}
                            <img src="/img/no_img.jpg" alt="img" style="width: 200px; margin-bottom: 20px;">
                        {% endif %}
                        {{ item.name }}
                        <div>
                            <p>количество</p>
                            <div style="display: flex; width: 70px; justify-content: space-between">
                                <a href="/basket/minus?order={{ user.id }}&id={{ item.id }}">
                                    <i class="fas fa-minus"></i>
                                </a>
                                <p>{{ item.counter }}</p>
                                <a href="/basket/plus?order={{ user.id }}&id={{ item.id }}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div style="display: flex">
                            <p style="margin-right: 6px;">стоимость:</p>
                            <p>{{ item.price }}&#8381;</p>
                        </div>
                        <a href="/basket/delFromBasket?order={{ user.id }}&id={{ item.id }}">
                            убрать из корзины
                        </a>
                    </div>
                {% else %}
                    <h3 style="color: red">Корзина пуста</h3>
                {% endfor %}
            </div>
            {% if goods_in_basket %}
                <h1 style="color: purple">Общая сумма заказа: {{ total }}&#8381;</h1>
            {% endif %}
        {% else %}
            <h3 style="color: red">Отказано в доступе</h3>
        {% endif %}
    {% else %}
        <h3 style="color: red">Необходима авторизация</h3>
    {% endif %}

{% endblock %}