{% extends 'layouts/main.twig' %}
{% block title %}{{ good.name }}{% endblock %}
{% block content %}
    {% if good.img %}
        <img class="new_img_style" src="/img/{{ good.img }}" alt="img">
    {% else %}
        <img class="new_img_style" src="/img/no_img.jpg" alt="img">
    {% endif %}
    <h2>Наименование товара: {{ good.name }}</h2>
    <h2>Цена товара: {{ good.price }}&#8381;</h2>
    <h2>Описание: {{ good.info }}</h2>
    <br>
    <a href="/basket/add?id={{ good.id }}">добавить в корзину</a>
    {% if user_is_admin == 1 %}
        <br>
        <a href="/good/edit?id={{ good.id }}">редактировать</a>
        <a href="/good/del?id={{ good.id }}">удалить</a>
    {% endif %}
    <br>
    <a href="/good/all">назад</a>
    <hr>

{% endblock %}
