{% extends 'layouts/main.twig' %}
{% block title %}
    удаление товара {{ good.name }}
{% endblock %}
{% block header %}
    удаление товара {{ good.name }}
{% endblock %}
{% block content %}

    {% if user_is_admin %}
        <h2>удалить товар {{ good.name }}?</h2>
        <br>
        <a href="/good/getDel?id={{ good.id }}">да</a>
        <a href="/good/one?id={{ good.id }}">нет</a>
    {% else %}
        <h3 style="color: red">Необходимо обладать правами администратора</h3>
    {% endif %}

{% endblock %}