{% extends 'layouts/main.twig' %}
{% block title %}
    заказы пользователей
{% endblock %}
{% block header %}
    управление заказами пользователей
{% endblock %}
{% block content %}

    <h1>Заказы пользователей</h1>
    <br>

    {% if user_is_admin %}
        {% for user in users %}
            <h2>заказ пользователя {{ user.login }}</h2>
            <h3 class="arrivals_title">{{ user.name }}</h3>
            <br>
            <div style="display: flex;
                        justify-content: space-around;
                        padding: 10px;
                        border-radius: 12px;
                        background-color: #F8F3F4;
                        width: 430px;
                ">
                <h3>
                    {% for key, count_of_user in counter_of_users %}
                        {% if key == user.id %}
                            Количество товаров: {{ count_of_user }}
                        {% endif %}
                    {% endfor %}
                </h3>
                <h3>
                    {% for key, total in user_total %}
                        {% if key == user.id %}
                            на сумма: {{ total }}&#8381;
                        {% endif %}
                    {% endfor %}
                </h3>
            </div>
            <br>
            <div style="display: flex">
                <a class="php-other-link php-link"
                   style="width: 154px;
                      margin-right: 10px;"
                   href="/basket/usersOrder?id={{ user.id }}">
                    перейти
                </a>
                <a class="php-other-link php-red-link"
                   style="width: 154px;"
                   href="/basket/delOrder?id={{ user.id }}">
                    удалить весь заказ
                </a>
            </div>
            <hr>
        {% else %}
            <h3 style="color: red">Не создано ни одного заказа</h3>
        {% endfor %}
    {% else %}
        <h3 style="color: red">Необходимо обладать правами администратора</h3>
    {% endif %}

{% endblock %}