{% extends 'layouts/main.twig' %}
{% block title %}
    {{ user.login }}
{% endblock %}
{% block header %}
    {{ user.login }}
{% endblock %}
{% block content %}

    {% if user_is_admin %}
        {% if user.avatar %}
            <img class="new_img_style" src="/img/{{ user.avatar }}" alt="avatar">
        {% else %}
            <img class="new_img_style" src="/img/no_avatar.png" alt="avatar">
        {% endif %}

        <h2>Логин: {{ user.login }}</h2>
        <h2>Имя: {{ user.name }}</h2>
        <h2>Должность: {{ user.position }}</h2>

        {% if user.is_admin == 1 %}
            <br>
            <h3 style="color: red">данный пользователь является администратором</h3>
            <br>
        {% elseif user.is_admin == 2 %}
            <br>
            <h3 style="color: red">данный пользователь имеет расширенные права</h3>
            <br>
            <div style="display: flex">
                <a class="php-other-link php-link"
                   style="width: 123px;
                  margin-right: 4px;"
                   href="/user/edit?id={{ user.id }}">
                    редактировать
                </a>
                <a class="php-other-link php-red-link"
                   style="width: 123px;"
                   href="/user/del?id={{ user.id }}">
                    удалить
                </a>
            </div>
        {% else %}
            <br>
            <div style="display: flex">
                <a class="php-other-link php-link"
                   style="width: 123px;
                  margin-right: 4px;"
                   href="/user/edit?id={{ user.id }}">
                    редактировать
                </a>
                <a class="php-other-link php-red-link"
                   style="width: 123px;"
                   href="/user/del?id={{ user.id }}">
                    удалить
                </a>
            </div>
        {% endif %}

        <br>
        <a class="php-link php-other-link"
           style="width: 55px;"
           href="/user/all">
            назад
        </a>
        <hr>
    {% else %}
        <h3 style="color: red">Необходимо обладать правами администратора</h3>
    {% endif %}

{% endblock %}
