{% extends 'layouts/main.twig' %}
{% block title %}
    {% if user.id and user_is_admin == 1 %}
        редактирование пользователя {{ user.login }}
    {% elseif user_is_admin == 1 %}
        добавление пользователя
    {% else %}
        регистрация
    {% endif %}
{% endblock %}
{% block header %}
    {% if user.id and user_is_admin == 1 %}
        редактирование пользователя {{ user.login }}
    {% elseif user_is_admin == 1 %}
        добавление пользователя
    {% else %}
        регистрация
    {% endif %}
{% endblock %}
{% block content %}

    {% if user.id and user_is_admin == 1 %}
        <h2>редактирование пользователя {{ user.login }}</h2>
    {% elseif user_is_admin == 1 %}
        <h2>добавление пользователя</h2>
    {% else %}
        <h2>Регистрация</h2>
    {% endif %}

    <br>
    <form method="post" action="/user/update" enctype="multipart/form-data">
        <input type="hidden" id="id" name="id" value="{{ user.id }}">
        {% if user.avatar %}
            <img class="new_img_style" src="/img/{{ user.avatar }}" alt="avatar">
        {% else %}
            <img class="new_img_style" src="/img/no_avatar.png" alt="avatar">
        {% endif %}
        <div>
            <br>
            <input type="file" name="avatar" id="avatar"/>
        </div>
        {% if user.id == false %}
            <input type="hidden" name="avatar" id="avatar" value="no_avatar.png"/>
        {% endif %}
        <br>
        <p>логин</p>
        <input type="text" id="login" name="login" value="{{ user.login }}" placeholder="введите логин">
        {% if not user.id %}
            <p>пароль</p>
            <input type="text" id="password" name="password" value="" placeholder="введите пароль">
        {% endif %}
        <input type="hidden" id="avatar" name="avatar" value="{{ user.avatar }}">
        <p>имя</p>
        <input type="text" id="name" name="name" value="{{ user.name }}" placeholder="введите имя">
        <p>должность</p>
        <input type="text" id="position" name="position" value="{{ user.position }}" placeholder="введите должность">
        {% if user_is_admin == 1 %}
            <p>расширенные права</p>
            <select name="is_admin" id="is_admin">
                <option value="nothing">Значение не выбрано</option>
                <option value="yes">Да</option>
                <option value="no">Нет</option>
            </select>
        {% else %}
            <input type="hidden" name="is_admin" id="is_admin" value="no">
        {% endif %}
        <br>
        <br>
        <input type="submit" name="uploadBtn" value="сохранить" class="pointer">
    </form>
    <br>

    {% if user.id %}
        <a href="/user/one?id={{ user.id }}">назад</a>
    {% else %}
        <a href="/user/all">назад</a>
    {% endif %}

    <hr>

{% endblock %}