{% extends 'layouts/main.twig' %}
{% block title %}
    удаление пользователя {{ user.login }}
{% endblock %}
{% block header %}
    удаление пользователя {{ user.login }}
{% endblock %}
{% block content %}

    {% if user_is_admin %}
        <h2>удалить пользователя {{ user.login }}?</h2>
        <br>
        <h3 style="color: #F38191">Заказ пользователя так же будет удалён</h3>
        <br>
        <div style="display: flex">
            <a class="php-other-link php-red-link"
               style="width: 37px;
                      margin-right: 4px;"
               href="/user/getDel?id={{ user.id }}">
                да
            </a>
            <a class="php-other-link php-green-link"
               style="width: 37px;"
               href="/user/one?id={{ user.id }}">
                нет
            </a>
        </div>
    {% else %}
        <h3 style="color: red">Необходимо обладать правами администратора</h3>
    {% endif %}

{% endblock %}