{% extends 'layouts/main.twig' %}
{% block title %}
    удаление пользователя {{ user.login }}
{% endblock %}
{% block header %}
    удаление пользователя {{ user.login }}
{% endblock %}
{% block content %}

    {% if user_is_admin %}
        <h2>удалить пользователя {{ user.login }}?</h2>
        <br>
        <h3 style="color: #F38191">Заказ пользователя так же будет удалён</h3>
        <br>
        <a href="/user/getDel?id={{ user.id }}">да</a>
        <a href="/user/one?id={{ user.id }}">нет</a>
    {% else %}
        <h3 style="color: red">Необходимо обладать правами администратора</h3>
    {% endif %}

{% endblock %}