{% extends 'layouts/main.twig' %}
{% block title %}
    список пользователей
{% endblock %}
{% block header %}
    список пользователей
{% endblock %}
{% block content %}

    <h1>Список пользователей</h1>
    <br>

    {% if user_is_admin %}
        <div style="display: flex; flex-wrap: wrap; max-width: 1200px;">
            {% for user in users %}
                <div class="user-php">
                    {% if user.avatar %}
                        <img class="new_img_all_style" src="/img/{{ user.avatar }}" alt="avatar">
                    {% else %}
                        <img class="new_img_all_style" src="/img/no_avatar.png" alt="avatar">
                    {% endif %}
                    <div style="display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: center">
                        {% if user.is_admin == 1 %}
                            <p style="color: red">администратор</p>
                        {% elseif user.is_admin == 2 %}
                            <p style="color: blue">помощник администратора</p>
                        {% endif %}
                        <h2>{{ user.login }}</h2>
                        <h3 class="arrivals_title" style="text-align: center">
                            {{ user.name|length > 20 ? user.name|slice(0, 20) ~ '...' : user.name }}
                        </h3>
                        <h3>{{ user.position }}</h3>
                        <br>
                        <a class="php-link php-other-link"
                           style="width: 80px;"
                           href="/user/one?id={{ user.id }}">
                            подробно
                        </a>
                    </div>
                </div>
                {# <hr> #}
            {% else %}
                <h3 style="color: red">Пользователи отсутствуют</h3>
            {% endfor %}
        </div>

        <br>
        <div style="display: flex; justify-content: center; max-width: 1100px">
            <a class="php-green-link php-other-link"
               style="width: 190px"
               href="/user/edit">добавить пользователя
            </a>
        </div>
    {% else %}
        <h3 style="color: red">Необходимо обладать правами администратора</h3>
    {% endif %}

{% endblock %}



{# var_dump(password_hash('123', PASSWORD_DEFAULT)); #}
