{% extends 'layouts/main.twig' %}
{% block title %}
    список пользователей
{% endblock %}
{% block header %}
    список пользователей
{% endblock %}
{% block content %}

    <h1>Список пользователей</h1>
    <br>

    {% if user_is_admin %}
        {% for user in users %}
            {% if user.avatar %}
                <img class="new_img_all_style" src="/img/{{ user.avatar }}" alt="avatar">
            {% else %}
                <img class="new_img_all_style" src="/img/no_avatar.png" alt="avatar">
            {% endif %}
            <h2>{{ user.login }}</h2>
            <h3 class="arrivals_title">{{ user.name }}</h3>
            <h3>{{ user.position }}</h3>
            <br>
            {% if user.is_admin == 1 %}
                <p style="color: red">данный пользователь является администратором</p>
            {% elseif user.is_admin == 2 %}
                <p style="color: blue">данный пользователь имеет расширенные права</p>
            {% endif %}
            <a href="/user/one?id={{ user.id }}">подробно</a>
            <hr>
        {% else %}
            <h3 style="color: red">Пользователи отсутствуют</h3>
        {% endfor %}

        <br>
        <a href="/user/edit">добавить пользователя</a>
    {% else %}
        <h3 style="color: red">Необходимо обладать правами администратора</h3>
    {% endif %}

{% endblock %}



{# var_dump(password_hash('123', PASSWORD_DEFAULT)); #}
